<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

    <!--css file-->
    <link rel="stylesheet" type="text/css" href="static\styles\style_main.css" />

    <!--favicon-->
    <link rel="shortcut-icon" href="static/image/favicon.svg" type="image/svg+xml">

    <!--boxicon-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

    <!--header-->
    <header class="header" data-header>
        <div class="container">
            <div class="overlay" data-overlay></div>
            <a href="{{url_for('home')}}" class="logo">
                <img src="static/image/insight-logo.png" class="web-logo" alt="Logo">
            </a>

            <div class="header-actions">
                {% if not session['username'] %}
                <a href="{{url_for('authenticate')}}">
                    <button class="btn btn-primary">Sign In</button>
                </a>
                {% else %}
                <ion-icon name="person-circle-outline" class="user-pic" onclick="toggleMenu()"></ion-icon>

                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <ion-icon name="person-circle-outline"></ion-icon>
                            <h2 class="user-name"><strong>{{session['username']}}</strong></h2>
                        </div>
                        <hr>

                        <a href="{{ url_for('profile')}}" class="sub-menu-link">
                            <ion-icon name="person-outline"></ion-icon>
                            <p>User Profile</p>
                            <span><ion-icon name="chevron-forward-outline"></ion-icon></span>
                        </a>

                        <a href="{{url_for('library')}}" class="sub-menu-link">
                            <ion-icon name="library-outline"></ion-icon>
                            <p>My Library</p>
                            <span><ion-icon name="chevron-forward-outline"></ion-icon></span>
                        </a>

                        <a href="{{ url_for('logout')}}" class="sub-menu-link">
                            <ion-icon name="log-out-outline"></ion-icon>
                            <p>Logout</p>
                            <span><ion-icon name="chevron-forward-outline"></ion-icon></span>
                        </a>

                    </div>
                </div>
                {% endif %}
            </div>


            <button class="menu-open-btn" data-menu-open-btn>
                <ion-icon name='reorder-two'></ion-icon>
            </button>

            <!--Navigation bar-->
            <nav class="navbar" data-navbar>
                <div class="navbar-top">
                    <a href="main_page.html" class="logo">
                        <img src="static/image/images/logo.svg" alt="InsightNews Logo">
                    </a>

                    <button class="menu-close-btn" data-menu-close-btn>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>

                <ul class="navbar-list">
                    <li>
                        <a href="{{url_for('home')}}" class="navbar-link">Home</a>
                    </li>

                    <li>
                        <a href="{{url_for('keyword')}}" class="navbar-link">Discover Keyword/Phrases</a>
                    </li>

                    <li>
                        <a href="#topic" class="navbar-link">Discover Topics</a>
                        <ul class="dropdown">
                            <li><a href="{{url_for('topic_visualize')}}">Topic Analysis Visualization ></a></li>
                            <li><a href="{{url_for('topic')}}">Trending Tweets by Topics ></a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#multi-view" class="navbar-link">View Multi-Perspective Sentiment ▾</a>
                        <ul class="dropdown">
                            <li><a href="{{url_for('sentiment')}}">Topic Sentiment ></a></li>
                            <li><a href="{{url_for('sentiment_comparison')}}">Topic Sentiment Comparison ></a></li>
                        </ul>

                    </li>
                </ul>

            </nav>
        </div>

        <!--Display successful and error messages-->
        {% for category,message in get_flashed_messages(with_categories=true) %}
        {% if message %}
        <div class="alert-{{category}}">
            <span>{{message}}</span>
            <button class="exit-btn">
                <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    </header>

    <!--user profile-->
    <main>
        <section class="user-page">
            <div class="container">
                <form method="post" class="sign-in-form">
                    <p class="section-subtitle">Manage User Profile</p>
                    <h2 class="h2 section-title">User Profile</h2>

                    <ion-icon name="person-circle-outline" class="avatar"></ion-icon>

                    <label class="input">Username</label>
                    <div class="input-field">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="Username" name="username" value="{{session['username']}}"
                            required />
                    </div>

                    <label class="input">Email</label>
                    <div class="input-field">
                        <i class='bx bxs-envelope'></i>
                        <input type="text" placeholder="Email" name="email" value="{{session['email']}}" readonly />
                    </div>

                    <input type="submit" class="btn-solid" value="Save Changes" name="save" />
                </form>

            </div>
        </section>
    </main>


    <!--Footer-->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="footer-brand-wrapper">
                    <a href="{{url_for('home')}}" class="logo">
                        <img src="static/image/insight-logo.png" class="web-logo" alt="Logo">
                    </a>

                    <ul class="footer-list">
                        <li>
                            <a href="{{url_for('home')}}" class="footer-link">Home</a>
                        </li>

                        <li>
                            <a href="{{url_for('keyword')}}" class="navbar-link">Discover Keyword/Phrases</a>
                        </li>

                        <li>
                            <a href="#topic" class="navbar-link">Discover Topics</a>
                            <ul class="dropdown">
                                <li><a href="{{url_for('topic_visualize')}}">Topic Analysis Visualization ></a></li>
                                <li><a href="{{url_for('topic')}}">Trending Tweets by Topics ></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#multi-view" class="navbar-link">View Multi-Perspective Sentiment ▾</a>
                            <ul class="dropdown">
                                <li><a href="{{url_for('sentiment')}}">Topic Sentiment ></a></li>
                                <li><a href="{{url_for('sentiment_comparison')}}">Topic Sentiment Comparison ></a></li>
                            </ul>

                        </li>

                    </ul>
                </div>

                <div class="divider"></div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <p class="copyright">
                    &copy; 2023 <a href="#">Ho Khum Leon</a>. All Rights Reserved
                </p>
            </div>
        </div>
    </footer>

    <!--Go To Top-->
    <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up"></ion-icon>
    </a>

    <!--js script-->
    <script src="../static/js/script_main.js"></script>


    <!--JQuery CDN link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!--js script for profile sub-menu-->
    <script>
        let subMenu = document.getElementById("subMenu");
        function toggleMenu() {
            subMenu.classList.toggle("open-menu")
        }
    </script>

    <script>
        // close flash message
        $('.exit-btn').click(function () {
            $('.alert-warning').addClass('active');
            $('.alert-success').addClass('active');
        });

        // set timeout for flash message
        setTimeout(function () {
            $('.alert-warning').fadeOut('slow');
            $('.alert-success').fadeOut('slow');
        }, 30000); //30 seconds

    </script>

    <!--ionicons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>





</body>

</html>